*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --navyblue: #2e2f42;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --ocean: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue, #2e2f42);
}

ul li {
  list-style: none;
}

.logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;

  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.web-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.menu {
  color: var(--navyblue, #2e2f42);

  /* Body Medium */
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.menu-links {
  text-decoration: none;
}

.menu-links {
  color: var(--navyblue, #2e2f42);

  /* Body Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.menu-links:hover,
.menu-links:focus {
  color: var(--ocean);
}

.menu-links.active-link {
  color: var(--ocean);
}

.menu-right-items-list {
  text-decoration: none;
  color: var(--slate, #434455);

  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.menu-right-items-list:hover,
.menu-right-items-list:focus {
  color: var(--ocean);
}

.filter-button.filter-active {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

  color: var(--white, #fff);
  text-align: center;

  /* Button Text */
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.filter-button {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);

  color: var(--iris, #4d5ae5);
  text-align: center;

  /* Button Text */
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.filter-button:hover {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--white, #fff);
  border: 1px solid #404bbf;
}

footer {
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
  align-items: center;
}

.logo-footer {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;

  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.web-logo-footer {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.p-footer {
  color: var(--cloud, #f4f4fd);
  /* Body */
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
